.switch {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 1.56rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: 3px;
  bottom: 3px;
  background-color: #e8e4e1;
  border: 1px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #222831;
}

input:focus + .slider {
  box-shadow: 0 0 1px #222831;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  z-index: 11;
}

.icon {
  position: absolute;
  z-index: 10;
  font-size: 1rem;
  top: .3rem;
  cursor: pointer;
}

.dark {
  right: 0.3rem;
  color: #222831;
}

.light {
  left: 0.3rem;
  color: white;
}
